*~
*.pdb
build/
prebuilds/
build-*/
node_modules/
.DS_STORE
napi/target/
napi/*.node
dist/
*.tsbuildinfo
napi/*/mechatron-*.node
packages/@mechatronic/*/mechatron-*.node
coverage/
test/memory-child
test/memory-child.exe
test/dlopen-block.so

